.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/[Ii]ntermediate/
[Oo]bj/

*.ilk
*.pdb
*.tlog
*.log
*.obj
*.idb
*.iobj
*.ipdb
*.ipch 

.DS_Store
Thumbs.db
Desktop.ini
ImGui.ini